.layout_centered{
  display:flex;
  width:auto;
  height:auto;
  justify-content:center;
  align-items: center;

}
.Game_page{
  height:105%;
  width:105%;
  background: url("./../images/general_background.png");
  background-size: cover;
  background-origin: content-box;
  background-repeat: no-repeat
}

.Game_Status{
  display:flex;
  justify-content:center;

}
.header_class h1{
  display:flex;
  font-style: normal;
  font-weight: bold;
  color: #906efc94;
  justify-content:center;
  padding-top:5%;
  padding-bottom:5%;
  margin-left:15%;
}
.canvas_class canvas{

  width:85%;
  padding:2% 1% 2% 1%;
  border-style: solid;
  border-color:rgba(136, 34, 177, 0.09);
  border:15px 15px 15px 15px;
  margin-left:7%;
  margin-top:5%;

}

.canvas_container{

  width:100%;
  height:100%;

}

.Game_Status_div>span, p{
  font-size:2em;
  font-style:bold;
  margin-left:25%;


}
 .timer_container{

  width:250px;
}



.Game_Status_div{
  display:flex;
  justify-content:flex-start;
  background-color:rgba(15, 15, 15, 0.25);
  height:15%;
  width:65%;
  margin-left:25%;
  padding:2% 2% 2% 2%;
  border-radius: 10px;

}
.User-response-bar{
  display:flex;
  flex-wrap: wrap;
  background-color:rgba(15, 15, 15, 0.25);
  width:55%;
  height:15%;
  margin-left:29%;
  margin-bottom:10%;
  border-radius: 10px;
}
.User-response-bar_container{
  display:flex;
  flex-wrap: wrap;
  margin-bottom:10%;

}

.User-response-bar>button{
  margin-left:15px;
  margin-top:7px;
  border-radius: 5px;
  color:white;
  font-weight: 400;
  height:50%;
  background-color: #6534ff;
  border-color: rgba(#9434ff, 0.56)

}
.User-response-bar span, p{
  font-size:2em;
  font-style:bold;

}
.modal-body{
  background-color:rgba(100,5,5,.35);
  height: 85%;
  margin: 2% 2% 2% 2%;
  padding:5% 5% 5% 5%;

  display:flex;
  justify-content:center;
  align-items: center;

  color:white;

  }
.modal-body>p{

  /*padding:2% 2% 2% 2%;*/
  font-size:4em;
  color:white;
  }

.win{
  display:flex;
  justify-content:center;
  align-items: center;
  text-align:center;
  height:100%;
  width:100%;
  background: url("./../images/graphics_you_win.jpg");
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat
  }
.lose{
  display:flex;
  justify-content:center;
  align-items: center;
  text-align:center;
  height:100%;
  width:100%;
  background: url("./../images/graphics_you_lose.jpg");
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
}
.lives {
    transition: 1s;
}
.lives img {

height:50px;
width:50px;

}


.life3{
 transition: 3s;
 content:  url('./../images/life3.png');
 display: inline-block;
 transform: scale(.25);
 transform: scale(.75);
}


.life2{
 content:  url('./../images/life2.png');
 display: inline-block;
 transform: scale(.25);
 transform: scale(.75);
}


.life1{
content:  url('./../images/life1.png');
display: inline-block;
transform: scale(.25);
transform: scale(.75);
}
