body {
 font-family: 'Oxygen',sans-serif;
}



/*Splah-page Instructionsl*******************************/
.Splashpage_header{
  display:flex;
  width:100%;
  justify-content: center;
}

.splash-wrapper {
  display: flex;

}

.Splashpage{

  display:flex;
  flex-wrap: wrap;
  flex-direction:row;
}

/*First page Instructionsl*******************************/
.Instructions{
display:flex;
align-items: center;
width:45%;
  justify-content: center;
height:100%;


}
.Instruction_button .btn-primary> {
  display:flex;
  justify-content: center;
  align-items: flex-end;

  width:200px;
  height:100px;
}
/*First page carousel*******************************/

#carouseldiffusionInfo{

  width:45%;
  height:100%;
}


.item img{

  z-index: 900;
  width: 100%;
  padding:5% 5% 5% 5%;
}
/*First page footer*/

.Seperator{
  margin-bottom:100px;
  height:100px;
}
.Start-game-button{
  top:10%;
  height:200px;
  width:100%;
  background-image: url("./../imgages/overlay.png");
}

.Start-game-button button{
margin-top:50px;
  margin-left:15%;
  border-radius:10px;
  width:50%;


}
.carousel-control{
  z-index: 1000;
  background-color: brown;
  margin-top:15%;
  height: 12%;
  width: 4%;
  flex-wrap:wrap;

}


.carousel-inner{
  height: 100%;
  width: 100%;
  t
}

.carousel-inner .carousel-text{
  position:absolute;
  display:inline-flex;
  flex-wrap: wrap;
  top:20%;
  left:20%;


}

.overlay {

  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 100;
}

@media (min-width:1220px) {
    body{font-size: 1em;
    }
    h1{
      font-size:3.5em;
    }
    h2{
      font-size:3.0em;
    }
}

@media (max-width:1225px) {
    body{font-size: 1em;
    }
    h1{
      font-size:3.0em;
    }
    h2{
      font-size:2.5em;
    }
}
@media (max-width:1100px) {
    body{font-size: 1em;
    }
    h1{
      font-size:2.5em;
    }
    h2{
      font-size:2.0em;
    }
}


@media (max-width:900px) {
    body{font-size: 1em;
    }
    h1{
      font-size:2.0em;
    }
    h2{
      font-size:1.75em;
    }
}

@media (max-width:700px) {
    body{font-size: 1em;
    }
    h1{
      font-size:1.5em;
    }
    h2{
      font-size:1.2em;
    }
}

@media (max-width: 500px) {
    body{font-size: 1em;
}
     h1{
       font-size:1.35em;
     }
     h2{
       font-size:1em;
     }

     .carousel-inner .carousel-text{
       position:absolute;
       display:inline-flex;
       flex-wrap: wrap;
       top:5%;
       left:5%;
     }
     .carousel-inner .carousel-text>h2{
      display:inline-flex;
      align-items:baseline;
     }

}
